body{
    background-color: rgb(135, 161, 184);
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.button{
    display: inline-block;
    padding: 5px 5px;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
    text-decoration: solid;
    color:white;
    background-color: #05001a;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}
.button.hover{
    background-color:#555
}
.projects-box{
    display: block;
    max-width: 100%;
    height:auto;
    margin: 0 auto;
    border: 1px solid #ccc
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3)
}
.logo{
    display:flex;
    justify-content: center;
    align-items: center;
    width:80px;
    height:50px;
    margin:20px auto;
    border-radius:50px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}
.logo a:hover{
    background-color: rgb(169, 107, 143);
    color:#fff;
    display:block;

}
.navbar{
    background-color: #143135;
    height: 105px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    background-color: #05001a;
    padding: 0;
    margin:0;
    position: relative;
    z-index:2;
}
ul{
    list-style: armenian;
    display: flex;
    margin: 0;
    padding: 0;

}
.menu li{
    margin: 0 10px;
}
.menu a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}
.menu a:hover{
    display:block;
    color:#fff;
    text-decoration: none;
    padding: 10px;
    transition:all 0.3 ease;
    background-color: rgb(169, 107, 143);
}
.css3{
    padding: 50px 50px;
    height: auto;
    max-width: 100;
    
}
.food{
    padding: 50px 50px;
    height: auto;
    max-width: 100;
    
}
.grocery{
    padding: 50px 50px;
    height: auto;
    max-width: 100;
   
}
.livelyroot{
    padding: 50px 50px;
    height: auto;
    max-width: 100;
   
}
.review{
    height: auto;
    max-width: 100;
    
}
.OIP{
    height: auto;
    max-width: 100;
    
}
.media-icons{
    margin: 20px auto;
    text-align: center;

}
.media-icons a{
    display: inline-block;
    margin: 0 10px;
    font-size: 24px;
    color:#fff;
    background-color: #333;
    border-radius:50%;
    width:50px;
    height:50px;
    text-align: center;
    transition: all 0.3 ease;
    line-height: 50px;
}
.media-icons a:hover{
    background-color: rgb(169, 107, 143);
    color:#fff
}
.home{
    padding: 5px;
    text-align: start;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}
.text-one{
    padding: 5px;
    text-align: left;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
.about{
    padding: 5px;
    text-align: start;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}
.title{
    padding: 5px;
    text-align: left;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
.skills{
    padding: 5px;
    text-align: start;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}

.projects{
    padding: 5px;
    text-align: start;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}
.services{
    padding: 5px;
    text-align: start;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}
.contact{
    padding: 5px;
    text-align: start;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}
.cf{
    color:#333
    
}
.box{
    padding: 20px;
    background-color: #143135;
    border: 1px solid #ccc;
    text-align: justify;
    box-shadow: #05001a;
}